/* NAVBAR */
.navbar{
    background-color: rgb(87, 85, 85);
    font-size: 16px;
    font-family: sans-serif;
    width: 100%;
    height: 75px;
}

.navbar_ul {
    list-style: none;
    color: white;
    margin: 0;
    padding: 28px;
}

.navbar_li {
    display: inline;
    padding: 30px 20px 30px 20px;
}

.navbar_li a {
    color: white;
    text-decoration: none;
}

.navbar_li.logo {
    font-size: 20px;
    font-weight: bold;
    line-height: 10px;
}

.navbar_li.link:hover {
    background-color: rgb(43, 39, 39);
    transition-duration: 1s;
}




/* Connexion.html */

.ImageC {
    width: 100%; 
    max-height: 100%;
    height: 1080px;
    background-image: url(../img/connexion.png);
    background-position: center ;
    background-size: cover;
}

.Middle {
    vertical-align: middle;
    padding-top: 290px;
}

.CaseConnexion {
    background-color: white;
    height: 500px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.MiddleWin {
    vertical-align: middle;
    padding: 30px;
}

.WinConnexion {
    vertical-align: middle;
    height: 440px;
    width: 540px;
    margin-left: auto;
    margin-right: auto;
}

.TitreConnexion {
    font-family: sans-serif;;
    font-weight: bold;
    font-size: 35px;
}

.CaseFormulaireConnexion {
    border: 2px;
    border-color:rgb(43, 39, 39);
    height: 400px;
    width: 540px;
}

.FC_Connexion {
    padding-left: 12px;
    padding-top: 30px;
    font-family: sans-serif;;
    font-size: 30px;
}

.FormulaireConnexion {
    font-family: sans-serif;;
    font-size: 16px;
}

input[type="text"], input[type="password"] {
    font-size: 25px;
    width: 300px;
    height: 30px;
    margin: 30px;
}

input[type="submit"] {
    font-size: 20px;
    height: 30px;
    width: 120px;
    margin-left: 390px;
    margin-top: 35px;
}